@font-face {
    font-family: "h2";
    src: url(RobotoMono-VariableFont_wght.ttf);
}

h2 {
    text-align: center;
    font-family: "h2";
    text-decoration: underline;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

h3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

table,
th,
td {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td {
    height: 50px;
    vertical-align: center;
}

th,
td {
    padding: 15px;
    text-align: center;
}

footer {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(106, 105, 179);
    color: black;
    text-align: center;
    /* UTILIZAMOS EL Z-INDEX PARA DEFINIR LA POSICIÓN DE PRIORIDAD DE LA CAJA U ELEMENTO SOBRE OTRO: NUM + GRANDE, MÁS PRIORIDAD*/
    z-index: 2;
}

#p_footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container_footer {
    padding: 12px;
}

.info {
    font-weight: bold;
    background-color: rgb(151, 106, 224);
}

/* DIV DEL GRÁFICO CENTRADO */
#chart_div {
    float: left;
    margin-left: 450px;
}

/* DIV DEL GRÁFICO CENTRADO */
#chart_div2 {
    float: right;
    margin-right: 450px;
}

/* CSS MAPA */
#myMap {
    /* UTILIZAMOS EL Z-INDEX PARA DEFINIR LA POSICIÓN DE PRIORIDAD DE LA CAJA U ELEMENTO SOBRE OTRO: NUM + GRANDE, MÁS PRIORIDAD*/
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 1450px;
    height: 400px;
}

button {
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(106, 105, 179);
    color: white;
}

/* FONDO */

body {
    background-color: rgb(219, 195, 228);
}